<div class="panel-heading text-center">
  <h1>Welcome <%= @user.first_name %> <%= @user.last_name %>!</h1>
</div>
<ul class="list-group">
  <% if @user.role == 'manager' %>
  <li class="list-group-item"><h3><%= link_to('Manage Employees', users_path)%></h3></li>
  <% end %>
  <li class="list-group-item"><h3><%= link_to('View Inventory', products_path)%></h3></li>
  <li class="list-group-item"><h3><%= link_to('Create Order', new_order_path)%></h3></li>
  <li class="list-group-item"><h3><%= link_to('View Orders', orders_path)%></h3></li>
  <li class="list-group-item"><h3><%= link_to('Generate Report', report_path)%></h3></li>
</ul>
