<h1>Welcome <%= @user.first_name %> <%= @user.last_name %>!</h1>
<ul>
	<% if @user.role == 'manager' %>
	<li><%= link_to('Manage Employees', users_path)%></li>
	<% end %>
	<li><%= link_to('View Inventory', products_path)%></li>
	<li><%= link_to('Create Order', new_order_path)%></li>
	<li><%= link_to('View Orders', orders_path)%></li>
</ul>
