<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <%= f.fields_for :order_products do |product_form| %>
    <div class="form-group">
      <%= product_form.label 'Name' %><br>
      <% if @product %>
      <%= product_form.select :id, options_for_select(@products, [@product.name, @product.id]), {prompt: 'Select product'}, {class: 'form-control', 'data-url': orders_get_product_information_url} %>
	  <% else %>
      <%= product_form.select :id, @products, {prompt: 'Select product'}, {class: 'form-control', 'data-url': orders_get_product_information_url} %>
      <% end %>
    </div>    
    <div class="form-group">
      <%= product_form.label 'Number of Items' %><br>
      <% if @order_product %>
      <%= product_form.select :product_count, [], {prompt: 'Select number of products'}, {class: 'form-control', 'data-count': @order_product.product_count } %>
      <% else %>
      <%= product_form.select :product_count, [], {prompt: 'Select number of products'}, {class: 'form-control', 'data-count': '' } %>
      <% end %>
    </div>
    <%= product_form.hidden_field 'price', disabled: true %>
  <% end %>
 
  <div class="form-group">
    <%= f.label :payment_total %><br>
    <div class="input-group">
      <div class="input-group-addon">$</div>
	  <% if @order %>
	  <%= f.text_field :payment_total, value: @order.payment_total, class: 'form-control', readonly: true %>
	  <% else %>
	  <%= f.text_field :payment_total, value: '0.00', class: 'form-control', readonly: true %>
	  <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :payment_type %><br>
    <%= f.select :payment_type, ['Credit Card', 'Debit Card', 'Cash'], {prompt: 'Select payment type'}, {class: 'form-control'} %>
  </div>
  <%= f.hidden_field :employee, value: "#{@user.first_name} #{@user.last_name}" %>
  <div class="actions">
    <%= f.submit 'Submit', {class: 'btn btn-default'} %>
  </div>
<% end %>
