<p id="notice"><%= notice %></p>

<p>
  <strong>Transaction date:</strong>
  <%= @order.created_at.strftime("%Y-%m-%d") %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product.name %> ($<%= @product.price.round(2) %>)
</p>

<p>
  <strong>Number of products:</strong>
  <%= @order_product.product_count %>
</p>

<p>
  <strong>Payment total:</strong>
  $<%= @order.payment_total %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @order.payment_type %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @order.employee %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
