<!DOCTYPE html>
<html>
  <head>
    <title>Point Of Sale App</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= javascript_include_tag 'application' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">
		<img alt="brand" src="...">
	      </a>
	    </div> <!-- navbar-header -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
		<li>
		  <% unless current_page?(root_path) %>
		  <%= link_to('Home', root_path) %>      
		  <% end %>
		</li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
		<li>
		  <% if user_signed_in? %>
		  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
		  <% end %>
		</li>
	      </ul>
	    </div> <!-- collapse -->
	  </div> <!-- container-fluid -->
	</nav>
	<%= yield %>
      </div> <!-- col-md-8 col-md-offset-2 -->
    </div> <!-- container -->
  </body>
</html>
